<div>
    <!-- Header box -->
    <header class="box">
        <div class="logo">
            <img width="86" src="/bower_components/wix-ui-lib2/images/wix_icon.png" alt="logo"/>
        </div>
        <div class="intro">
            <p>
                This app lets you display Vine videos on your site.
            </p>

        </div>
    </header>

    <!-- Settings box -->
    <div wix-ctrl="Accordion">

    <!-- Color Pickers -->
    <div class="acc-pane">
        <h3>Color Settings: </h3>
        <div class="acc-content">
            <p>Set the widget colors</p>
            <ul class="list">
                <li wix-label="Descripion container">
                    <div wix-param="searchBoxColor" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-1'}"></div>
                </li>
                <li wix-label="Search button">
                    <div wix-param="buttonColor" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-2'}"></div>
                </li>
                <li wix-label="Video Description">
                    <div wix-param="descriptionColor" wix-ctrl="ColorPicker" wix-options="{startWithColor:'color-3'}"></div>
                </li>
                <li wix-label="Video Username">
                    <div wix-param="usernameColor" wix-ctrl="ColorPicker" wix-options="{startWithColor:'color-4'}"></div>
                </li>
                <li wix-label="Video Background">
                    <div wix-param="bgColor" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-5'}"></div>
                </li>
            </ul>
        </div>
    </div>

    <div class="acc-pane general-settings">
        <h3>General Settings</h3>
        <div class="acc-content">
            <p>Number of videos to display:</p>
            <ul class="list">
                <li>
                    <div
                    wix-ctrl="Spinner"
                    wix-param="numberOfVideos"
                    wix-options="{ maxValue:500, value: 6, size: 'medium' }"></div>
                </li>
            </ul>
            <br/>
            <p>Default keyword:</p>
            <div class="left"></div>
            <div class="left">
                <div class="keyword" wix-model="keyword" wix-ctrl="Input" wix-options="{size: 'large', placeholder: 'London'}"></div></div>
            <button ng-click="save()" class="uilib-btn">Save</button></li>
            </ul>
        </div>
    </div>

    <!-- Font Pickers -->
    <div class="acc-pane">
        <h3>Font Settings: </h3>
        <div class="acc-content">
            <p>Set the widget fonts</p>
            <ul class="list">
                <li wix-label="Description">
                    <div wix-param="descriptionFont" wix-ctrl="FontStylePicker"></div>
                </li>
                <li wix-label="Username">
                    <div wix-param="usernameFont" wix-ctrl="FontStylePicker"></div>
                </li>
            </ul>
        </div>
    </div>

    </div>
</div>
